body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* CENTRADO */
    background-color: white;
    color: black;
}

/* MENU */
nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    height: 7%;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin-top: 3;
    padding: 0;
    display: flex;
    justify-content: space-around; /* ESPACIO ENTRE LOS ELEMENTOS*/
}

nav ul li {
    display: inline-block;
}

nav ul li a, nav ul li button {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
}


nav ul li a:hover, nav ul li button:hover {
    background-color: #575757;

}

h1 {
    background-color: #9d9c9c;
    border-radius: 5px;
    width: 50%;
    display: inline-block;
}

section {
    width: 100%;
    max-width: 800px; /* ANCHO */
    padding: 80px 20px; /* PADDING SUPERIOR */
    text-align: center; /* CONTENIDO CENTRADO */
}

h1, h2 {
    text-align: center;
}

#inicio img {
    display: block;
    margin: 20px auto; /* CENTRA LA IMAGEN */
    max-width: 100%; /* TAMAÑO IMG */
    height: auto;
}

/* FORMULARIO - ESTILO */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contacto {
    padding: 18%;
}
